html, body {
	display: flex;
	flex-direction: column;
	height: 100%;
}
body {
	background: rgba(10, 10, 10, 1);
	background: linear-gradient(90deg, rgba(10, 10, 10, 1) 0%, rgba(24, 24, 24, 1) 50%, rgba(10, 10, 10, 1) 100%);
	color: #fff;
	font-family: "Cuprum", Helvetica, Arial, sans-serif;
	font-weight: 400;
	height: 100%;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0;
}
a {
	color: #fff;
}

.pink-accent {
	color: rgb(242, 145, 185);
}

.page-header {
	background: rgba(33, 33, 33, .5);
	padding: 1em;
	position: sticky;
	top: 0;
}
.nav-links-container {
	display: flex;
}
.nav-links {
	margin-left: auto;
}
.nav-links a {
	font-size: 20px;
	text-decoration: none;
	transition: all .3s ease-in-out;
}
.nav-links a:not(:last-of-type) {
	margin-right: 1.5em;
}
.nav-links a:hover, .nav-links a:focus {
	color: #fff;
}
.body-content {
	height: 100%;
	padding: 3em;
}
.initial-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}
.main-headline {
	font-size: 3em;
}
.animate-first {
	animation: 1.5s fade-in;
}
.animate-second {
	animation: 3.5s fade-in;
}
.animate-third {
	animation: 7s fade-in;
}
.animate-fourth {
	animation: 11s fade-in;
}
.initial-content .animate-fourth {
	margin-top: 2em;
}
.initial-content a {
	display: inline-block;
	font-size: 2em;
	transition: all .3s ease-in-out;
}
.initial-content a:hover {
	transform: scale(1.1);
}

@keyframes fade-in {
	0% { opacity: 0; }
	60% { opacity: 0; }
	100% { opacity: 1; }
}