html, body {
	display: flex;
	flex-direction: column;
	height: 100%;
}
body {
	background: rgba(10,10,10,1);
	background: linear-gradient(90deg, rgba(10,10,10,1) 0%, rgba(24,24,24,1) 50%, rgba(10,10,10,1) 100%);
	color: #fff;
	font-family: "Cuprum", Helvetica, Arial, sans-serif;
	font-weight: 400;
	height: 100%;
	padding: 50px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0;
}
a {
	color: #fff;
}

.pink-accent {
	color: rgb(242,145,185);
}

.body-content {
	display: flex;
	align-items: center;
	height: 100%;
}
.initial-content {
	display: flex;
	flex-direction: column;
}
.main-headline {
	font-size: 3em;
}
.main-headline .animate-first {
	animation: 1.5s fade-in;
}
.main-headline .animate-second {
	animation: 3.5s fade-in;
}
.initial-content .animate-third {
	animation: 7s fade-in;
}
.initial-content .animate-fourth {
	animation: 11s fade-in;
}
.initial-content a {
	font-size: 2em;
	margin-top: 2em;
	transition: all .2s ease-in-out;
}
.initial-content a:hover {
	transform: scale(1.02);
}

@keyframes fade-in {
	0% { opacity: 0; }
	60% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes grow-shrink {
	from { transform: scale3d(1, 1, 1); }
	50% { transform: scale3d(1.02, 1.02, 1.02); }
	to { transform: scale3d(1, 1, 1); }
}